<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EEG-BCI</title>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">EEG-BCI</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#about">About EEG-BCI</a>
          <a href="#service_i">Services</a>
          <a href="#info">Developer</a>
          <a href="/eegpredict">Analyser</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2>EEG Based <br><span>Emotions Analysis</span></h2>
          <p> Todays world tending towards the Artificial Intelligence technology. So, we are providing a solution for Emotions Analysis using trending technology. Which can help to monitor our brain and from that one can make brain computer interface.</p>
          <a href="#about" class="info-btn">More info</a>
        </div>
      </div>
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/vijay-devane-a629931b3/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/VMD7"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/VijayDevane2"><i class="fab fa-twitter"></i></a>
      </div>
    </section>

    <section id="about">
      <h2>About EEG-BCI</h2>
      <p class="about-content" style="text-align: center;">
        EEG-BCI (Electroencephalogram Based Brain Computer Interface) is basically a analyser webapp used 
        Machine Learning and Deep Learning algorithms at backend. 
        With the help of this analyser one can analyse the emotions with the help of Electroencephalograms (EEG) signals.
        The dataset is used to train the model is "EEG Brainwave Dataset: Feeling Emotions".
        Electroencephalograms are the mixture of Neuroscience and Electronics Science. 
        Electroencephalography is a complex signal due to it reflects the cortical electrical activity and can 
        require several years of experience and training also advanced signal processing and feature extraction 
        system to be correctly interpret. Recently, Machine Learning and Deep Learning has shown great availability 
        in helping make sense of EEG signal due to its capacity to learn fast and effective feature representation 
        from raw data. Whether ML & DL truly presents advantages as compared to traditional EEG signal processing 
        approaches. In this project we used some popular Machine Learning Algorithms and Deep Neural Networks to analyse 
        the EEG signal and classify the emotions related to that signal. We used simple technique to analyse the signal 
        in better way by extracting the stastical properties of the signal. This helps us to reduction in the complexty of
        EEG signal analysis.We got nearly 99% accuracy. This will help to 
        analyse the EEG signal effectively and fast. Also, with the help of this analyzer one can make a Brain Computer 
        Interface technology in economical way due to increase in the quality of EEG signal system analysis. 
      </p>
    </section>

    <h2 id="service_i" style="text-align: center;">Services</h2>   
<section class="cards-wrapper">
  
  <div class="card-grid-space">
    <div class="num"></div>
    <a class="card" href="https://drive.google.com/drive/folders/1gWskriFxJGEA0HgbbZ9fEqYqjl02w2Om?usp=sharing" target="_blank" style="--bg-img: url(../static/info1.jpg)">
      <div>
        <h1>Information</h1>
        <p>This section describes the detailed information about the project.</p>
        <div class="tags">
          <div class="tag">Click Here</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">

    <a class="card" href="https://drive.google.com/drive/folders/1IJ271hsshnCaazQsAXpUtBdA_jurPmEw?usp=sharing" target="_blank" style="--bg-img: url('../static/code1.jpg')">
      <div>
        <h1>Algorithm</h1>
        <p>This section give detailed information about different algorithm and code.</p>

        <div class="tags">
          <div class="tag">Click Here</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <a class="card" href="/eegpredict" style="--bg-img: url('../static/analyse1.jpg')">
      <div>
        <h1>Analyser</h1>
        <p>This is the EEG signal analyser. Let's Demonstrate the project.</p>
        <div class="tags">
          <div class="tag">Click Here</div>
        </div>
      </div>
    </a>
  </div>
</section>
    
    <section id="info">
      <div>
        <img src="../static/VijayD.jpeg" alt="Vijay Devane">
      </div>
      <div>
        <h2>Developer</h2>
        <p class="about-content">Hello, Everyone! This is Vijay Devane currently I am pursuing my third year 
          Electronics and Telecommunication Engineering from SGGSIE&T, Nanded, India. I am always enthusiastic about Electroencephalogram (EEG) based brain computer interface. 
          I am working in this domain since last two years. So, I thought to build an EEG based emotion analyser using Machine Learnig and Deep Learning techniques. Thank You!
        </p>
      </div>
    </section>

    <footer>
      <p>
        Developed with ❤️ by Vijay
      </p> 
      <p>&copy; Copyright 2021 Vijay Devane</p>
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/vijay-devane-a629931b3/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/VMD7"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/VijayDevane2"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </body>
</html>
